@import "tailwindcss";

@theme {
  --animate-aurora: aurora 60s linear infinite;
}

@keyframes aurora {
  from {
    background-position: 50% 50%, 50% 50%;
  }
  to {
    background-position: 350% 50%, 350% 50%;
  }
}

:root {
  --white: #ffffff;
  --black: #000000;
  --transparent: transparent;
  --blue-300: var(--color-blue-300);
  --blue-400: var(--color-blue-400);
  --blue-500: var(--color-blue-500);
  --indigo-300: var(--color-indigo-300);
  --violet-200: var(--color-violet-200);
}

body {
  color: #171717;
}
